<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <display-name>StudentDao1</display-name>
  <welcome-file-list>
    <welcome-file>Signup.jsp</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>forgotPin.jsp</welcome-file>
    <welcome-file>dashboard.jsp</welcome-file>
    <welcome-file>updateAccount.jsp</welcome-file>
    <welcome-file>viewData.jsp</welcome-file>
    
  </welcome-file-list>
</web-app>